body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1a1a1d;
    color: #a1a1a3;
    margin: 0;
    padding: 20px;
    background-image: url('assembler.webp');  /* Add the background image */
    background-size: cover;  /* Make the image cover the entire viewport */
    background-repeat: no-repeat;  /* Don't repeat the image */
    background-position: center;  /* Center the image */
}
#page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // big padding
    padding: 10px;
    backdrop-filter: blur(10px); /* Apply a blur effect to the backdrop */
    -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
    background-color: rgba(0, 0, 0, 0.25); /* Color to blend with the backdrop */
}


#content-container {
    width: 800px; /* Adjust this to your desired fixed width */
    text-align: center; /* Center the content horizontally within the container */
    padding: 20px;
    background-color: #1a1a1d;
    border-radius: 10px; /* Add rounded corners for a modern look */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}
textarea, button, div {
    box-sizing: border-box;
}
#logoImage {
    display: block;       /* Block level element */
    margin: 20px auto;    /* Top and bottom margin, auto left and right for centering */
    max-width: 100%;      /* Ensure it doesn't exceed its container's width */
    width: 50%;           /* Adjust this to your desired size */
    height: auto;         /* This ensures the image maintains its aspect ratio */
}
.logo-container {
    position: relative;
    display: inline-block;
}

.logo-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at center, transparent, black 80%);
    pointer-events: none;  /* Ensures the overlay doesn't block interactions with the image */
}

textarea {
    width: 100%;
    padding: 10px;
    background-color: #272729;
    border: 2px solid #3f3f41;
    color: #0dfc8c; /* Neon green text color */
    font-size: 16px;
    outline: none;
    resize: none;
    transition: border-color 0.3s;
}

textarea:focus {
    border-color: #0dfc8c; /* Neon green border color when focused */
}

button {
    padding: 10px 20px;
    margin: 10px 5px 0;
    border: none;
    background-color: #272729;
    color: #0dfc8c;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0dfc8c; /* Neon green background on hover */
    color: #272729; /* Dark text color on hover */
}

h2 {
    border-bottom: 2px solid #3f3f41;
    padding-bottom: 10px;
    color: #0dfcfc; /* Neon blue color for headers */
    margin-top: 30px;
    // left
    text-align: left;
}

div {
    padding: 10px;
    background-color: #272729;
    border: 2px solid #3f3f41;
    margin-top: 10px;
    overflow-x: auto;
    text-align: left;
}

div[id="logDisplay"]::before,
div[id="memoryDisplay"]::before,
div[id="registerDisplay"]::before {
    content: 'Empty...';
    color: #a1a1a3;
    display: block;
    opacity: 0.7;
}
#codeContainer {
    display: flex;
    width: fit-content;
}

.lineNumbers {
    padding: 10px 5px;
    color: #0dfc8c;
    user-select: none;
    font-size: 16px;
    line-height: 24px; /* Adjust according to your font-size and preference */
    background-color: #1a1a1d;
    border-right: 2px solid #3f3f41;
}
#codeInput::selection {
    background-color: #0dfc8c; /* Neon green */
    color: #272729; /* Dark text color */
}

/* Your existing textarea styles */
#codeInput {
    /*... your existing styles ...*/
}
.log-number {
    color: #ff0077; /* Neon pink for entry numbers */
    margin-right: 5px;
    // align to left
    text-align: left;
}

.log-timestamp {
    color: #0dfcfc; /* Neon blue for timestamps */
    margin-right: 5px;
    font-size: 80%; /* Making the timestamp a bit smaller for aesthetics */
    font-family: 'Monaco', 'Courier New', monospace; /* Using a monospace font for uniformity */
}

/* Ensure the log display has a maximum height and can be scrolled */
#logDisplay {
    max-height: 800px; /* Adjust this based on your preference */
    // align to left
    text-align: left;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Cyberpunk style for the file input button */
#fileInput {
    display: none; /* Hide the default file input */
}

.custom-file-input {
    display: inline-block;
    padding: 10px 20px;
    background-color: #272729;
    color: #0dfc8c;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; /* Add rounded corners */
}

.custom-file-input:hover {
    background-color: #0dfc8c; /* Neon green background on hover */
    color: #272729; /* Dark text color on hover */
}
